﻿:root {
    --primary: #ff8000;
    --secondary: #ffffff;
    --light: #ffffff;
    --dark: #e7e7e7;
    --dark2: #505050;
}

/*** Button ***/
.btn {
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square, .btn-sm-square, .btn-lg-square {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

/*** Layout ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 100vh;
    background: var(--secondary);
    transition: 0.5s;
    z-index: 999;
}

.content {
    padding-top: 0;
    margin-left: 105px;
    min-height: 100vh;
    background: var(--dark);
    transition: 0.5s;
}

@media (min-width: 992px) {
    .sidebar {
        margin-left: 0;
    }

    .sidebar.open {
        margin-left: -250px;
    }

    .content {
        width: calc(100% - 105px);
    }

    .content.open {
        width: 100%;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .sidebar {
        margin-left: -250px;
    }

        .sidebar.open {
            margin-left: 0;
        }

    .content {
        width: 100%;
        margin-left: 0;
    }
}

/*** Navbar ***/
.sidebar .navbar .navbar-nav .nav-link {
    padding: 7px 20px;
    color: var(--dark2);
    font-weight: 500;
    border-left: 3px solid var(--secondary);
    border-radius: 0 30px 30px 0;
    outline: none;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-color: var(--primary);
}

.sidebar .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
    background: var(--secondary);
}

.sidebar .navbar .dropdown-toggle::after {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.sidebar .navbar .dropdown-item {
    padding-left: 25px;
    border-radius: 0 30px 30px 0;
    color: var(--dark2);
}

.sidebar .navbar .dropdown-item:hover,
.sidebar .navbar .dropdown-item.active {
    background: var(--dark);
}

.content {
    padding: 0 0;
}

.content .navbar .navbar-nav .nav-link {
    margin-left: 0px;
    padding: 12px 10px;
    color: var(--dark2);
    outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.content .navbar .sidebar-toggler, .content .navbar .navbar-nav .nav-link i {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--dark);
    border-radius: 40px;
}

.content .navbar .dropdown-item {
    color: var(--light);
}

.content .navbar .dropdown-item:hover,
.content .navbar .dropdown-item.active {
    background: var(--dark);
}

.content .navbar .dropdown-toggle::after {
    margin-left: 6px;
    vertical-align: middle;
    border: none;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: .5s;
}

.content .navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

@media (max-width: 992px) {
    .content .navbar .navbar-nav .nav-link {
        
    }
    .content.px-4 {
        padding-left: 0 !important;
    }
}

/*** Account ***/
.acc .nav-link {
    
    border: none;
}

.acc .nav-link:hover,
.acc .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-bottom: 3px solid var(--primary);
    border-radius: 3px;
}

/*** Year Sale ***/
.year_sale .nav-link {
    color: var(--light);
    border: none;
}

.year_sale .nav-link:hover,
.year_sale .nav-link.active {
    color: var(--primary);
    background: var(--dark);
    border-bottom: 3px solid var(--primary);
    border-radius: 3px;
}


#drop21:hover,
#drop21.active {
    color: var(--primary);
    background: var(--dark);
    border-left: 3px solid var(--primary);
}

#drop22{
    color: var(--dark2);
    background: var(--light);
}

#drop21 {
    color: var(--dark2);
    background: var(--light);
}

#drop22:hover,
#drop22.active {
    color: var(--primary);
    background: var(--dark);
    border-left: 3px solid var(--primary);
}

#drop41:hover,
#drop41.active {
    color: var(--primary);
    background: var(--dark);
    border-left: 3px solid var(--primary);
}

#drop42:hover,
#drop42.active {
    color: var(--primary);
    background: var(--dark);
    border-left: 3px solid var(--primary);
}

active-black{
    color: black
}
