﻿@page "/chamcong"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService

<PageTitle>Chấm công</PageTitle>

<HeadContent>
    <link href="css/admin.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</HeadContent>

<div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-white text-dark navbar-dark">
            <a href="trangchu" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HR</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 text-dark">Admin1</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="trangchu" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Trang chủ</a>
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 6" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Bảng công</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="bangcong" class="dropdown-item" id="drop21">Bảng công nhân viên</a>

                            <a href="chamcong" class="dropdown-item" id="drop22">Chấm công nhân viên</a>
                            <a href="thietlap" class="dropdown-item" id="drop22">Thiết lập</a>
                        </div>
                    }
                </div>
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 5" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user-tie me-2"></i>Quản lí nhân viên</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="danhsach_nv" class="dropdown-item" id="drop21">Danh sách nhân viên</a>

                            <a href="congtac" class="dropdown-item" id="drop22">Quản lí công tác</a>
                            <a href="phep" class="dropdown-item" id="drop22">Quản lí phép</a>
                        </div>
                    }
                </div>
                @*<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Đơn từ</a>
                <div class="dropdown-menu bg-transparent border-0">
                <a href="4-1_danhsachdontu.html" class="dropdown-item">Danh sách đơn từ</a>
                <a href="4-2_vanbanhanhchinh.html" class="dropdown-item">Văn bản hành chính</a>
                </div>
                </div>*@
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 4" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-money-check me-2"></i>Quản lí lương</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="bangluong" class="dropdown-item" id="drop21">Bảng lương</a>

                            <a href="thuong_phat" class="dropdown-item" id="drop22">Bảng thưởng/phạt</a>
                        </div>
                    }
                </div>
                <div class="navbar-nav w-100">
                    <!-- Get user role -->
                    @if (user_role == "Cap 1")
                    {
                        <a href="captaikhoan" class="nav-item nav-link"><i class="fa fa-money-check me-2"></i>Cấp tài khoản</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-white navbar-dark sticky-top px-4 py-0">
            <a href="admin_dashboard.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-car"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notification</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Admin1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-white border-0 rounded-0 rounded-bottom m-0 text-dark">
                        <a href="#" class="dropdown-item text-dark" onclick="sendUrl('profile')">Profile</a>
                        <a href="#" class="dropdown-item text-dark" onclick="sendUrl('password')">Settings</a>
                        <a href="admin_signin.html" class="dropdown-item text-dark">Sign Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4 ">
            <div class="text-left rounded p-4 bg-white">
                <b><h3 class="text-dark">Bảng chấm công nhân viên</h3></b>
            </div>
        </div>

        
        <div class="container-fluid pt-4 px-4">
            <div class="bg-white text-center rounded p-4">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <div class="d-flex">
                        <span><input class="form-control bg-white border-1 " id="search" name="search" oninput="searchData()" type="search" placeholder="Search"></span>
                        <button style="margin-left:10px;" class="btn btn-primary" type="button" onclick="addRowDer()">Tìm</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table text-center text-dark align-middle table-bordered table-hover mb-0" id="table">
                        <thead>
                            <tr class="text-dark">
                                <th scope="col">Mã</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Phòng</th>
                                <th scope="col">Chi nhánh</th>
                                <th scope="col">Ngày</th>
                                <th scope="col">Giờ vào</th>
                                <th scope="col">Giờ ra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>CMC-001</td>
                                <td>Nhanvien 1</td>
                                <td>Phong 1</td>
                                <td>Phong 1</td>
                                <td>10/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                            <tr>
                                <td>CMC-002</td>
                                <td>Nhanvien 2</td>
                                <td>Phong 2</td>
                                <td>Phong 2</td>
                                <td>10/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                            <tr>
                                <td>CMC-001</td>
                                <td>Nhanvien 1</td>
                                <td>Phong 1</td>
                                <td>Phong 1</td>
                                <td>11/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                            <tr>
                                <td>CMC-002</td>
                                <td>Nhanvien 2</td>
                                <td>Phong 2</td>
                                <td>Phong 2</td>
                                <td>11/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                            <tr>
                                <td>CMC-001</td>
                                <td>Nhanvien 1</td>
                                <td>Phong 1</td>
                                <td>Phong 1</td>
                                <td>12/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                            <tr>
                                <td>CMC-002</td>
                                <td>Nhanvien 2</td>
                                <td>Phong 2</td>
                                <td>Phong 2</td>
                                <td>10/03/2024</td>
                                <td>8:00</td>
                                <td>18:00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-white rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        Copyright © 2023 Group 6 - 22IT1 - CMC Uni.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->
</div>
@code {
    private string user_role = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        if (!AuthService.IsAuthenticated || AuthService.Username.Length == 0 || AuthService.Username == null || AuthService.UserRole.Length == 0 || AuthService.UserRole == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            user_role = AuthService.UserRole;
            Console.WriteLine("User role is: ", user_role);
            Console.WriteLine("User is authenticated");
        }
    }
}


