﻿@page "/chitiet_nv"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService


<PageTitle>Chi tiết nhân viên</PageTitle>

<HeadContent>
    <link href="css/admin.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</HeadContent>

<style>
    /* Overall page styling */
    body {
        background-color: #f8f9fa;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;
        max-width: 1400px; /* Tăng chiều rộng */
        margin: 0 auto;
        padding: 20px;
        flex-wrap: wrap; /* Cho phép các flex item chuyển dòng khi không đủ không gian */
    }

    /* Flexbox container for columns */
    .column-container {
        display: flex;
        flex-direction: column;
        flex-basis: 100%; /* Sử dụng toàn bộ không gian trên hàng */
    }

    /* Flexbox container for two columns */
    .two-column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between; /* Canh giữa các cột */
        flex-basis: 100%; /* Tăng chiều rộng */
    }

    /* Flexbox container for three columns */
    .three-column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-basis: 100%;
    }

    /* Employee details card styling */
    .employee-details-card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
    }

        .employee-details-card h2 {
            margin-top: 0;
            color: #333;
            display: flex;
            align-items: center; /* Canh giữa theo chiều dọc */
        }

            .employee-details-card h2 i {
                margin-right: 10px;
            }

        .employee-details-card p {
            margin: 5px 0;
        }

        .employee-details-card hr {
            border: none;
            border-top: 1px solid #ccc;
            margin: 20px 0;
        }

    /* Active status color */
    .active-status {
        color: green;
    }

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .avatar-container {
        display: flex;
        align-items: center;
    }

    .employee-code {
        background-color: orange;
        padding: 2px 5px;
        border-radius: 4px;
        color: white;
    }
</style>

@* Đoạn mã HTML đã được tích hợp *@
<div class="container-fluid position-relative d-flex p-0 ">
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-white text-dark navbar-dark">
            <a href="trangchu" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HR</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 text-dark">Admin1</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                <a href="trangchu" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Trang chủ</a>
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 6" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Bảng công</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="bangcong" class="dropdown-item" id="drop21">Bảng công nhân viên</a>

                            <a href="chamcong" class="dropdown-item" id="drop22">Chấm công nhân viên</a>
                            <a href="thietlap" class="dropdown-item" id="drop22">Thiết lập</a>
                        </div>
                    }
                </div>
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 5" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user-tie me-2"></i>Quản lí nhân viên</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="danhsach_nv" class="dropdown-item" id="drop21">Danh sách nhân viên</a>

                            <a href="congtac" class="dropdown-item" id="drop22">Quản lí công tác</a>
                            <a href="phep" class="dropdown-item" id="drop22">Quản lí phép</a>
                        </div>
                    }
                </div>
                @*<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Đơn từ</a>
                <div class="dropdown-menu bg-transparent border-0">
                <a href="4-1_danhsachdontu.html" class="dropdown-item">Danh sách đơn từ</a>
                <a href="4-2_vanbanhanhchinh.html" class="dropdown-item">Văn bản hành chính</a>
                </div>
                </div>*@
                <div class="nav-item dropdown">
                    @if (user_role == "Cap 4" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-money-check me-2"></i>Quản lí lương</a>
                        <div class="dropdown-menu bg-transparent border-0 ">
                            <a href="bangluong" class="dropdown-item" id="drop21">Bảng lương</a>

                            <a href="thuong_phat" class="dropdown-item" id="drop22">Bảng thưởng/phạt</a>
                        </div>
                    }
                </div>
                <div class="navbar-nav w-100">
                    <!-- Get user role -->
                    @if (user_role == "Cap 1")
                    {
                        <a href="captaikhoan" class="nav-item nav-link"><i class="fa fa-money-check me-2"></i>Cấp tài khoản</a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0 bg-white">
            <a href="admin_dashboard.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-car"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notification</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Admin1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item" onclick="sendUrl('profile')">Profile</a>
                        <a href="#" class="dropdown-item" onclick="sendUrl('password')">Settings</a>
                        <a href="admin_signin.html" class="dropdown-item">Sign Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4 ">
            <div class="text-left rounded p-4 bg-white">
                <b><h3 class="text-dark">Chi tiết nhân viên</h3></b>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 ">
            <div class="employee-details-card">
                <!-- Tên nhân viên -->
                <h2><img src="css/Image/anhnhanvien.jpg" alt="Avatar" class="avatar" />@employee.Name</h2>
                <hr />
                <div class="three-column-container">
                    <div>
                        <p><strong><i class="fas fa-id-badge"></i> Mã nhân viên:</strong> <span class="employee-code">@employee.EmployeeCode</span></p>
                        <p><strong><i class="fas fa-toggle-on"></i> Trạng thái:</strong> <span class="active-status">@employee.Status</span></p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-user-tie"></i> Chức vụ:</strong> @employee.Position</p>
                        <p><strong><i class="fas fa-building"></i> Phòng ban:</strong> @employee.Department</p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-phone"></i> Phone:</strong> @employee.Phone</p>
                        <p><strong><i class="fas fa-envelope"></i> Email:</strong> @employee.Email</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4 ">
            <div class="employee-details-card">
                <h2><i class="fas fa-briefcase"></i> Job Details</h2>

                <div class="two-column-container">
                    <div>
                        <p><strong><i class="fas fa-user-clock"></i> Loại nhân viên:</strong> @employee.EmploymentType</p>
                        <p><strong><i class="fas fa-code-branch"></i> Chi nhánh:</strong> @employee.Branch</p>
                        <p><strong><i class="fas fa-code-branch"></i> Yêu cầu chấm công:</strong> @employee.Branch</p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-calendar-alt"></i> Bắt đầu làm:</strong> @employee.StartDate</p>
                        <p><strong><i class="fas fa-clock"></i> Yêu cầu chấm công:</strong> @employee.TimekeepingRequired</p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-calendar-check"></i>Chính thức làm:</strong> @employee.OfficialStartDate</p>
                        <p><strong><i class="fas fa-id-card"></i> Ngày nghỉ việc:</strong> @employee.AttendanceCode</p>
                    </div>
                </div>

                <hr />
                <h2><i class="fas fa-user"></i> Personal Information</h2>

                <div class="three-column-container">
                    <div>
                        <p><strong><i class="fas fa-venus-mars"></i> Giới tính:</strong> @employee.Gender</p>
                        <p><strong><i class="fas fa-map-marker-alt"></i> Thường trú:</strong> @employee.PlaceOfIssue</p>
                        <p><strong><i class="fas fa-envelope"></i> Số tài khoản:</strong> @employee.PersonalEmail</p>
                        <p><strong><i class="fas fa-envelope"></i> Mã bảo hiểm:</strong> @employee.PersonalEmail</p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-birthday-cake"></i> Ngày sinh:</strong> @employee.DateOfBirth</p>
                        <p><strong><i class="fas fa-address-card"></i> Tạm trú:</strong> @employee.Address</p>
                        <p><strong><i class="fas fa-graduation-cap"></i> Tên ngân hàng:</strong> @employee.Education</p>
                    </div>
                    <div>
                        <p><strong><i class="fas fa-id-card"></i> CCCD:</strong> @employee.IDCardNumber</p>
                        <p><strong><i class="fas fa-university"></i> Mã số thuế:</strong> @employee.SchoolName</p>
                        <p><strong><i class="fas fa-graduation-cap"></i> Trình độ học vấn:</strong> @employee.Education</p>

                    </div>
                </div>

            </div>
        </div>

        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4 ">
            <div class="bg-secondary rounded-top p-4 bg-white">
                <div class="row ">
                    <div class="col-12 col-sm-6 text-center text-sm-start ">
                        Copyright © 2023 Group 6 - 22IT1 - CMC Uni.
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->

</div>




@* Define Employee class inside the razor component *@
@code {
    public class Employee
    {
        public string Name { get; set; }
        public string EmployeeCode { get; set; }
        public string Status { get; set; }
        public string Position { get; set; }
        public string Department { get; set; }
        public string Phone { get; set; }
        public string Email { get; set; }
        public string EmploymentType { get; set; }
        public string Branch { get; set; }
        public DateTime StartDate { get; set; }
        public bool TimekeepingRequired { get; set; }
        public DateTime OfficialStartDate { get; set; }
        public string AttendanceCode { get; set; }
        public string Gender { get; set; }
        public string PersonalEmail { get; set; }
        public string Address { get; set; }
        public DateTime DateOfBirth { get; set; }
        public string IDCardNumber { get; set; }
        public string PlaceOfIssue { get; set; }
        public string Education { get; set; }
        public string SchoolName { get; set; }
        public string Major { get; set; }
        public int GraduationYear { get; set; }
    }

    private Employee employee;

    [Parameter]
    public string Id { get; set; }
    private string user_role = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        if (!AuthService.IsAuthenticated || AuthService.Username.Length == 0 || AuthService.Username == null || AuthService.UserRole.Length == 0 || AuthService.UserRole == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            user_role = AuthService.UserRole;
            Console.WriteLine("User role is: ", user_role);
            Console.WriteLine("User is authenticated");
        }
    }

    protected override void OnInitialized()
    {
        // For demo purpose, you may replace this with actual data retrieval logic
        // LoadEmployeeData();
        employee = new Employee
        {
            Name = "John Doe",
            EmployeeCode = "E12345",
            Status = "Active",
            Position = "Software Engineer",
            Department = "Engineering",
            Phone = "123-456-7890",
            Email = "john.doe@example.com",
            EmploymentType = "Full-time",
            Branch = "Headquarters",
            StartDate = new DateTime(2020, 1, 1),
            TimekeepingRequired = true,
            OfficialStartDate = new DateTime(2020, 1, 1),
            AttendanceCode = "123ABC",
            Gender = "Male",
            PersonalEmail = "john.doe.personal@example.com",
            Address = "123 Main St, City, Country",
            DateOfBirth = new DateTime(1990, 1, 1),
            IDCardNumber = "123456789",
            PlaceOfIssue = "City, Country",
            Education = "Bachelor's Degree",
            SchoolName = "University of Example",
            Major = "Computer Science",
            GraduationYear = 2012
        };
    }

    // Method to load employee data based on Id
    // You may implement actual data retrieval logic here
    private void LoadEmployeeData()
    {
        // Placeholder for data retrieval logic
    }
}
