﻿@page "/nhap_nv"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService

<PageTitle>Bảng lương</PageTitle>

<HeadContent>
    <link href="css/admin.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</HeadContent>

<div class="container-fluid position-relative d-flex p-0"
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-white text-dark navbar-dark">
            <a href="trangchu" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HR</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4">
                <div class="position-relative">
                    <img class="rounded-circle" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                    <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                </div>
                <div class="ms-3">
                    <h6 class="mb-0 text-dark">Admin1</h6>
                    <span>Admin</span>
                </div>
            </div>
            <div class="navbar-nav w-100">
                    <a href="trangchu" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Trang chủ</a>
                    <div class="nav-item dropdown">
                    @if (user_role == "Cap 6" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Bảng công</a>
                                <div class="dropdown-menu bg-transparent border-0 ">
                                    <a href="bangcong" class="dropdown-item" id="drop21">Bảng công nhân viên</a>

                                    <a href="chamcong" class="dropdown-item" id="drop22">Chấm công nhân viên</a>
                                    <a href="thietlap" class="dropdown-item" id="drop22">Thiết lập</a>
                                </div>
                    }
                    </div>
                    <div class="nav-item dropdown">
                    @if (user_role == "Cap 5" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user-tie me-2"></i>Quản lí nhân viên</a>
                                <div class="dropdown-menu bg-transparent border-0 ">
                                    <a href="danhsach_nv" class="dropdown-item" id="drop21">Danh sách nhân viên</a>

                                    <a href="congtac" class="dropdown-item" id="drop22">Quản lí công tác</a>
                                    <a href="phep" class="dropdown-item" id="drop22">Quản lí phép</a>
                                </div>
                    }
                    </div>
                @*<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Đơn từ</a>
                <div class="dropdown-menu bg-transparent border-0">
                <a href="4-1_danhsachdontu.html" class="dropdown-item">Danh sách đơn từ</a>
                <a href="4-2_vanbanhanhchinh.html" class="dropdown-item">Văn bản hành chính</a>
                </div>
                </div>*@
                    <div class="nav-item dropdown">
                    @if (user_role == "Cap 4" || user_role == "Cap 2" || user_role == "Cap 1")
                    {
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-money-check me-2"></i>Quản lí lương</a>
                                <div class="dropdown-menu bg-transparent border-0 ">
                                    <a href="bangluong" class="dropdown-item" id="drop21">Bảng lương</a>

                                    <a href="thuong_phat" class="dropdown-item" id="drop22">Bảng thưởng/phạt</a>
                                </div>
                    }
                    </div>
                    <div class="navbar-nav w-100">
                        <!-- Get user role -->
                    @if (user_role == "Cap 1")
                    {
                                <a href="captaikhoan" class="nav-item nav-link"><i class="fa fa-money-check me-2"></i>Cấp tài khoản</a>
                    }
                    </div>
                </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0 bg-white">
            <a href="admin_dashboard.html" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"><i class="fa fa-car"></i></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>

            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notification</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item" onclick="">
                            <h6 class="fw-normal mb-0" style="color:white">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Admin1</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item" onclick="sendUrl('profile')">Profile</a>
                        <a href="#" class="dropdown-item" onclick="sendUrl('password')">Settings</a>
                        <a href="admin_signin.html" class="dropdown-item">Sign Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
                <div class="bg-white text-left rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h5 class="mb-0 text-dark">Thông tin cá nhân</h5>
                    </div>
                    <div class="col-md-12">
                        <div class="text-center">
                            <img alt="Admin1" src="css/image/user.svg" class="rounded-circle img-responsive mt-2" width="128" height="128">
                            <div class="mt-2">
                                <input type="file" id="fileInput" accept="image/*" style="display: none;" onchange="updateAllImages()">
                                <label for="fileInput" id="labelInput" class="btn btn-primary"><i class="fas fa-upload"></i>Upload</label>
                            </div>
                            <small>For best results, use an image at least 128px by 128px in .jpg format</small>
                        </div>
                    </div><br>
                    <form class="row g-3 needs-validation" id="formProduct" novalidate>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Họ tên</label>
                            <input type="text" class="form-control bg-white" id="input1" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Ngày sinh</label>
                            <input type="date" class="form-control bg-white" id="input2" required>
                        </div>
                        <div class="col-md-4">
                            <label for="validationCustom07" class="form-label">Giới tính</label>
                            <select class="form-select bg-white" id="input3" required>
                                <option>Male</option>
                                <option>Female</option>
                                <option>Others</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">CCCD</label>
                            <input type="text" class="form-control bg-white" id="input4" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control bg-white" id="input5" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Mã bảo hiểm</label>
                            <input type="text" class="form-control bg-white" id="input6" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Thường trú</label>
                            <input type="text" class="form-control bg-white" id="input7" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Tạm trú</label>
                            <input type="text" class="form-control bg-white" id="input8" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Trình độ học vấn</label>
                            <input type="text" class="form-control bg-white" id="input9" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Tên ngân hàng</label>
                            <input type="text" class="form-control bg-white" id="input10" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Số tài khoản</label>
                            <input type="text" class="form-control bg-white" id="input11" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Mã số thuế</label>
                            <input type="text" class="form-control bg-white" id="input12" required>
                        </div>
                    </form><br><hr><br>

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h5 class="mb-0 text-dark">Job Details</h5>
                    </div>

                    <form class="row g-3 needs-validation" id="formProduct" novalidate>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Mã nhân viên</label>
                            <input type="text" class="form-control bg-white" id="input13" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Email công việc</label>
                            <input type="email" class="form-control bg-white" id="input14" required>
                        </div>
                        <div class="col-md-4">
                            <label for="inputUsername" class="form-label">Loại nhân viên</label>
                            <input type="text" class="form-control bg-white" id="input15" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Chức vụ</label>
                            <select class="form-select bg-white" id="input16" required>
                                <option> </option>
                                <option>Chủ tịch</option>
                                <option>Giám đốc</option>
                                <option>Phó giám đốc</option>
                                <option>Trưởng phòng</option>
                                <option>Phó phòng</option>
                                <option>Nhân viên</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Phòng ban</label>
                            <select class="form-select bg-white" id="input17" required>
                                <option></option>
                                <option>Phòng 1</option>
                                <option>Phòng 2</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                                <option>Phòng 3</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Chi nhánh</label>
                            <select class="form-select bg-white" id="input18" required>
                                <option></option>
                                <option>Chi nhánh 1</option>
                                <option>Chi nhánh 2</option>
                                <option>Chi nhánh 3</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Yêu cầu chấm công</label>
                            <select class="form-select bg-white" id="input19" required>
                                <option></option>
                                <option>Có</option>
                                <option>Không</option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Bắt đầu làm</label>
                            <input type="date" class="form-control bg-white" id="input20" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Chính thức làm</label>
                            <input type="date" class="form-control bg-white" id="input21" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Ngày nghỉ việc</label>
                            <input type="date" class="form-control bg-white" id="input22" required>
                        </div>
                        <div class="col-md-3">
                            <label for="inputUsername" class="form-label">Trạng thái</label>
                            <select class="form-select bg-white" id="input23" required>
                                <option></option>
                                <option>Trạng thái 1</option>
                                <option>Trạng thái 2</option>
                                <option>Trạng thái 3</option>
                            </select>
                        </div>

                    </form><br>

                    <div class="mb-3 text-center">
                        <button class="btn btn-primary" type="button" onclick="updateUsername()">Thêm mới</button>
                        <button class="btn btn-primary" type="button" onclick="updateUsername()">Cập nhật</button>
                    </div>
                </div>
            </div>

    <!-- Content End -->
    <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="bg-white rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            Copyright © 2023 Group 6 - 22IT1 - CMC Uni.
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

@code {
    private string user_role = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        if (!AuthService.IsAuthenticated || AuthService.Username.Length == 0 || AuthService.Username == null || AuthService.UserRole.Length == 0 || AuthService.UserRole == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            user_role = AuthService.UserRole;
            Console.WriteLine("User role is: ", user_role);
            Console.WriteLine("User is authenticated");
        }
    }
}

