﻿@page "/taikhoan"

@using FullProject.Repo
@inject AccountRepository _accountRepository
@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService

<PageTitle>Tài khoản</PageTitle>

<style>
    body {
        background-color: black;
    }

    .profile-container {
        background-color: #1a1a1a;
        border-radius: 10px; /* Adding border-radius for rounded edges */
        border: none;
    }

    #profile-button, #change-pwd-button {
        color: orange;
    }

    .form-control-container {
        display: flex;
        justify-content: center; /* Centering the text fields */
    }

    .form-control {
        background-color: black;
        width: 90%; /* Adjusting the width of text fields */
        color: #999;
        border: none;
    }

        .form-control:focus {
            background-color: black;
            color: #999;
            border: none;
        }

    .upload-button,
    .submit-button {
        background-color: orange;
        color: white;
        border: none;
        transition: background-color 0.3s;
    }

        .upload-button:hover,
        .submit-button:hover {
            background-color: #cc6600; /* Darker shade of orange */
        }

    .nav-tabs .nav-item .nav-link.active {
        background-color: #333; /* Darker color for the active tab */
        border: none;
    }

    /*.tab-content {
        border-top: 2px solid #333;
    }*/

    /* Align labels with left side of the text fields */
    .form-group label {
        text-align: left;
        width: 100%;
    }

    .nav-tabs {
        border: 1px solid #1a1a1a;
    }
</style>

<h3 style="color: orange; font-weight: bold;">
    My Profile
</h3>

<div class="profile-container p-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <button class="nav-link @(activeTab == "profile" ? "active" : "")" id="profile-button" @onclick="SwitchToProfileTab">Profile</button>
        </li>
        <li class="nav-item">
            <button class="nav-link @(activeTab == "password" ? "active" : "")" id="change-pwd-button" @onclick="SwitchToPasswordTab">Change Password</button>
        </li>
    </ul>

    <div class="tab-content pt-3" id="myTabContent">
        <div class="tab-pane fade @(activeTab == "profile" ? "show active" : "")" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="profile-details">
                <div class="text-center mb-3">
                    <div class="profile-picture">
                        <img src="https://via.placeholder.com/150" alt="Profile Picture" class="rounded-circle">
                    </div>
                    <button class="btn btn-secondary mt-2 upload-button" @onclick="UploadPicture">Upload</button>
                </div>
                <div class="form-group">
                    <label for="username" style="color: #808080; margin-left: 3rem;">Username</label>
                    <div class="form-control-container">
                        <input type="text" class="form-control" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" style="color: #808080; margin-left: 3rem;">Description</label>
                    <div class="form-control-container">
                        <textarea class="form-control" id="description" rows="3" style="height: 6em;"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade @(activeTab == "password" ? "show active" : "")" id="password" role="tabpanel" aria-labelledby="password-tab">
            <div class="password-details">
                <div class="form-group">
                    <label for="currentPassword" style="color: #808080; margin-left: 3rem;">Current Password</label>
                    <div class="form-control-container">
                        <input type="password" class="form-control" id="currentPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="newPassword" style="color: #808080; margin-left: 3rem;">New Password</label>
                    <div class="form-control-container">
                        <input type="password" class="form-control" id="newPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label for="verifyPassword" style="color: #808080; margin-left: 3rem;">Verify Password</label>
                    <div class="form-control-container">
                        <input type="password" class="form-control" id="verifyPassword">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary submit-button">Submit</button>
    </div>
</div>

@code {
    private string activeTab = "profile";
    private string user_role = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        if (!AuthService.IsAuthenticated || AuthService.Username.Length == 0 || AuthService.Username == null || AuthService.UserRole.Length == 0 || AuthService.UserRole == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            user_role = AuthService.UserRole;
            Console.WriteLine("User role is: ", user_role);
            Console.WriteLine("User is authenticated");
        }
    }

    void SwitchToProfileTab()
    {
        activeTab = "profile";
    }

    void SwitchToPasswordTab()
    {
        activeTab = "password";
    }

    void UploadPicture()
    {
        // Upload logic
    }
}


