﻿@page "/trangchu"

@using Microsoft.JSInterop
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject IAuthenticationService AuthService

@* @if (!AuthService.IsAuthenticated)
{
    @code {
    }
}
else
{ *@
    <PageTitle>Bảng công</PageTitle>

    <HeadContent>
        <link href="css/Trangchu.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet" />
        <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet" />
        <link href="css/admin.css" rel="stylesheet" />
        <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    </HeadContent>

    <div class="container-fluid position-relative d-flex p-0">
        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-white text-dark navbar-dark">
                <a href="trangchu" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>HR</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                        <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1"></div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0 text-dark">Admin1</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">
                    <a href="trangchu" class="nav-item nav-link active"><i class="fa fa-tachometer-alt me-2"></i>Trang chủ</a>
                    <div class="nav-item dropdown">
                        @if (user_role == "Cap 6" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                        {
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-table me-2"></i>Bảng công</a>
                            <div class="dropdown-menu bg-transparent border-0 ">
                                <a href="bangcong" class="dropdown-item" id="drop21">Bảng công nhân viên</a>

                                <a href="chamcong" class="dropdown-item" id="drop22">Chấm công nhân viên</a>
                                <a href="thietlap" class="dropdown-item" id="drop22">Thiết lập</a>
                            </div>
                        }
                    </div>
                    <div class="nav-item dropdown">
                        @if (user_role == "Cap 5" || user_role == "Cap 3" || user_role == "Cap 2" || user_role == "Cap 1")
                        {
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-user-tie me-2"></i>Quản lí nhân viên</a>
                            <div class="dropdown-menu bg-transparent border-0 ">
                                <a href="danhsach_nv" class="dropdown-item" id="drop21">Danh sách nhân viên</a>

                                <a href="congtac" class="dropdown-item" id="drop22">Quản lí công tác</a>
                                <a href="phep" class="dropdown-item" id="drop22">Quản lí phép</a>
                            </div>
                        }
                    </div>
                    @*<div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>Đơn từ</a>
                <div class="dropdown-menu bg-transparent border-0">
                <a href="4-1_danhsachdontu.html" class="dropdown-item">Danh sách đơn từ</a>
                <a href="4-2_vanbanhanhchinh.html" class="dropdown-item">Văn bản hành chính</a>
                </div>
                </div>*@
                    <div class="nav-item dropdown">
                        @if (user_role == "Cap 4" || user_role == "Cap 2" || user_role == "Cap 1")
                        {
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-money-check me-2"></i>Quản lí lương</a>
                            <div class="dropdown-menu bg-transparent border-0 ">
                                <a href="bangluong" class="dropdown-item" id="drop21">Bảng lương</a>

                                <a href="thuong_phat" class="dropdown-item" id="drop22">Bảng thưởng/phạt</a>
                            </div>
                        }
                    </div>
                    <div class="navbar-nav w-100">
                        <!-- Get user role -->
                        @if (user_role == "Cap 1")
                        {
                            <a href="captaikhoan" class="nav-item nav-link"><i class="fa fa-money-check me-2"></i>Cấp tài khoản</a>
                        }
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->
        <!-- Content Start -->
        <div class="content">

            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0 bg-white">
                <a href="admin_dashboard.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-car"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>

                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fa fa-bell me-lg-2"></i>
                            <span class="d-none d-lg-inline-flex">Notification</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item" onclick="">
                                <h6 class="fw-normal mb-0" style="color:white">Profile updated</h6>
                                <small>15 minutes ago</small>
                            </a>
                            <hr class="dropdown-divider">
                            <a href="#" class="dropdown-item" onclick="">
                                <h6 class="fw-normal mb-0" >Password changed</h6>
                                <small>15 minutes ago</small>
                            </a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <img class="rounded-circle me-lg-2" src="css/image/user.svg" alt="" style="width: 40px; height: 40px;">
                            <span class="d-none d-lg-inline-flex">Admin1</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                            <a href="#" class="dropdown-item" onclick="sendUrl('profile')">Profile</a>
                            <a href="#" class="dropdown-item" onclick="sendUrl('password')">Settings</a>
                            <a href="admin_signin.html" class="dropdown-item">Sign Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
            <div class="content1">
                <div class="row g-4">
                    <div class="col-sm-6 col-xl-3 ">
                        <div class=" d-flex justify-content-between p-4 background-white rounded">
                            <Icon Name="IconName.BarChartFill" Size="IconSize.x1" Class="icon" />
                            <div class="ms-3">
                                <p class="mb-2 ">Total member</p>
                                <h6 class="mb-0">400 </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class=" d-flex justify-content-between p-4 background-white rounded">
                            <Icon Name="IconName.GraphUpArrow" Size="IconSize.x1" Class="icon" />
                            <div class="ms-3">
                                <p class="mb-2">Total Sale</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class=" d-flex justify-content-between p-4 background-white rounded">
                            <Icon Name="IconName.GraphUpArrow" Size="IconSize.x1" Class="icon" />
                            <div class="ms-3">
                                <p class="mb-2">Today Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xl-3">
                        <div class=" d-flex justify-content-between p-4 background-white rounded">
                            <Icon Name="IconName.GraphUpArrow" Size="IconSize.x1" Class="icon" />
                            <div class="ms-3">
                                <p class="mb-2">Total Revenue</p>
                                <h6 class="mb-0">$1234</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Sales Chart Start -->
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-white text-center rounded p-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h5 class="mb-0 text-dark">Biến động nhân sự</h5>
                                <a href="">Show All</a>
                            </div>
                            <LineChart @ref="lineChart" Class="mb-4" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 ">
                        <div class="bg-white text-center rounded p-4 mb-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h5 class="mb-0  text-dark">Tổng số lượng nhân viên</h5>
                                <a href="">Show All</a>
                            </div>
                            <BarChart @ref="barChart" Class="mb-4" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->
            <!-- Sales Chart Start -->
            <div class="container-fluid">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6 ">
                        <div class="bg-white text-center rounded p-4 ">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h5 class="mb-0 text-dark">Phân bố độ tuổi</h5>
                                <a href="">Show All</a>
                            </div>
                            <BarChart @ref="barChart1" Class="mb-4" />
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6 ">
                        <div class="bg-white text-center rounded p-4">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h5 class="mb-0  text-dark">Nhân sự các phòng ban</h5>
                                <a href="">Show All</a>
                            </div>
                            <BarChart @ref="barChart2" Class="mb-4" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sales Chart End -->

            <!-- Footer Start -->
            <div class="container-fluid pt-4 px-4 ">
                <div class="bg-secondary rounded-top p-4 bg-white">
                    <div class="row ">
                        <div class="col-12 col-sm-6 text-center text-sm-start ">
                            Copyright © 2023 Group 6 - 22IT1 - CMC Uni.
                        </div>
                    </div>
                </div>
            </div>
            <!-- Footer End -->
        </div>
        <!-- Content End -->

    </div>



@code {
    private BarChart barChart = default!;
    private LineChart lineChart = default!;
    private BarChart barChart1 = default!;
    private DoughnutChart doughnutChart = default!;
    private BarChart barChart2 = default!;
    private string user_role = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine("OnInitializedAsync called");
        if (!AuthService.IsAuthenticated || AuthService.Username.Length == 0 || AuthService.Username == null || AuthService.UserRole.Length == 0 || AuthService.UserRole == null)
        {
            NavigationManager.NavigateTo("/");
        }
        else
        {
            user_role = AuthService.UserRole;
            Console.WriteLine("User role is: ", user_role);
            Console.WriteLine("User is authenticated");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            //await CheckUserRole();
            await RenderManhattanAsync();
            await RenderWormAsync();
            await DoTuoi();
            await barChart2.InitializeAsync(chartData, barChartOptions);

            //user_role = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "Role");
            StateHasChanged(); // Notify Blazor that the state has changed
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    /*(private async Task CheckUserRole()
    {
        var userRole = await JSRuntime.InvokeAsync<string>("sessionStorage.getItem", "Role");

        if (userRole == "Cap 1" || userRole == "Cap 2" || userRole == "Cap 3")
        {
            user_role = userRole;
            StateHasChanged();
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }
    }*/

    private async Task RenderManhattanAsync()
    {
        var data = new ChartData
            {
                Labels = new List<string> { "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024" },
                Datasets = new List<IChartDataset>()
                {
                    new BarChartDataset()
                    {
                        Label = "Nhân viên",
                        Data = new List<double>{ 200, 230, 240, 250, 300, 250, 350, 400 },
                        BackgroundColor = new List<string>{ "rgb(255, 166, 0)" },
                        CategoryPercentage = 0.5,
                        BarPercentage = 1,
                    },
                }
            };

        var options = new BarChartOptions();

        options.Interaction.Mode = InteractionMode.Index;

        options.Responsive = true;

        options.Scales.X!.Title!.Text = "Năm";
        options.Scales.X.Title.Display = true;

        options.Scales.Y!.Title!.Text = "Nhân viên";
        options.Scales.Y.Title.Display = true;

        await barChart.InitializeAsync(data, options);
    }

    private async Task RenderWormAsync()
    {
        var data = new ChartData
            {
                Labels = new List<string> { "2017", "2018", "2019", "2020", "2021", "2022", "2023", "2024" },
                Datasets = new List<IChartDataset>()
                {
                    new LineChartDataset()
                    {
                        Label = "Tiếp nhận",
                        Data = new List<double>{ 5, 21, 40, 50, 80, 66, 100, 86 },
                        BackgroundColor = new List<string>{ "rgb(88, 80, 141)" },
                        BorderColor = new List<string>{ "rgb(88, 80, 141)" },
                        BorderWidth = new List<double>{2},
                        HoverBorderWidth = new List<double>{4},
                        PointBackgroundColor = new List<string>{ "rgb(88, 80, 141)" },
                        PointBorderColor = new List<string>{ "rgb(88, 80, 141)" },
                        PointRadius = new List<int>{0}, // hide points
                        PointHoverRadius = new List<int>{4},
                    },
                    new LineChartDataset()
                    {
                        Label = "Nghỉ việc",
                        Data = new List<double>{ 1, 1, 8, 18, 24, 26, 30, 40 },
                        BackgroundColor = new List<string>{ "rgb(255, 166, 0)" },
                        BorderColor = new List<string>{ "rgb(255, 166, 0)" },
                        BorderWidth = new List<double>{2},
                        HoverBorderWidth = new List<double>{4},
                        PointBackgroundColor = new List<string>{ "rgb(255, 166, 0)" },
                        PointBorderColor = new List<string>{ "rgb(255, 166, 0)" },
                        PointRadius = new List<int>{0}, // hide points
                        PointHoverRadius = new List<int>{4},
                    }
                }
            };

        var options = new LineChartOptions();

        options.Interaction.Mode = InteractionMode.Index;

        options.Responsive = true;

        options.Scales.X!.Title!.Text = "Năm";
        options.Scales.X.Title.Display = true;

        options.Scales.Y!.Title!.Text = "Nhân viên";
        options.Scales.Y.Title.Display = true;

        await lineChart.InitializeAsync(data, options);
    }


    private async Task DoTuoi()
    {
        var data = new ChartData
            {
                Labels = new List<string> { "20-25", "25-30", "31-40", "41-45", "46-50", "50+" },
                Datasets = new List<IChartDataset>()
                {
                    new BarChartDataset()
                    {
                        Label = "Nhân viên",
                        Data = new List<double>{ 20, 50, 60, 30, 20, 5 },
                        BackgroundColor = new List<string>{ "rgb(88, 80, 141)" },
                        CategoryPercentage = 0.5,
                        BarPercentage = 1,
                    },
                }
            };

        var options = new BarChartOptions();

        options.Interaction.Mode = InteractionMode.Index;

        options.Responsive = true;

        options.Scales.X!.Title!.Text = "Độ tuổi";
        options.Scales.X.Title.Display = true;

        options.Scales.Y!.Title!.Text = "Tuổi";
        options.Scales.Y.Title.Display = true;

        await barChart1.InitializeAsync(data, options);
    }


    private BarChartOptions barChartOptions = default!;
    private ChartData chartData = default!;

    protected override void OnInitialized()
    {
        var labels = new List<string> { "Department 1", "Department 2", "Department 3", "Department 4" };
        var datasets = new List<IChartDataset>();

        var dataset1 = new BarChartDataset()
            {
                Data = new List<double> { 50, 80, 120, 81 },
                BackgroundColor = new List<string> { ColorBuilder.CategoricalTwelveColors[0] },
                BorderColor = new List<string> { ColorBuilder.CategoricalTwelveColors[0] },
                BorderWidth = new List<double> { 0 },
            };
        datasets.Add(dataset1);

        chartData = new ChartData
            {
                Labels = labels,
                Datasets = datasets
            };

        barChartOptions = new BarChartOptions();
        barChartOptions.Responsive = true;
        barChartOptions.Interaction = new Interaction { Mode = InteractionMode.Y };
        barChartOptions.IndexAxis = "y";

        barChartOptions.Scales.X!.Title!.Text = "Nhân sự";
        barChartOptions.Scales.X.Title.Display = true;

        barChartOptions.Scales.Y!.Title!.Text = "Phòng ban";
        barChartOptions.Scales.Y.Title.Display = true;

        barChartOptions.Plugins.Legend.Display = false;
    }

    private async Task<string> GetUserRole()
    {
        return user_role ?? ""; // Return an empty string if role is null
    }
}